/*
.*
*.pyc

*.egg-info/

!.editorconfig
!.git*

!/config.yml
!/Dockerfile
!/Makefile
!/pyproject.toml
!/README.md
!/repository.yaml
!/run.sh

!/docs/

!/src/
!/src/**/*.py

!/tests/
!/tests/**/*.py

!/translations/*.yaml
